Source: vitamtp
Priority: extra
Maintainer: codestation <codestation404@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 autotools-dev,
 automake,
 libtool,
 pkg-config,
 libusb-1.0-0-dev,
 libxml2-dev,
 gettext

Standards-Version: 3.9.2
Section: libs
Homepage: https://github.com/codestation/VitaMTP
Vcs-Git: git://github.com/codestation/VitaMTP.git
Vcs-Browser: https://github.com/codestation/VitaMTP

Package: vitamtp-dev
Section: libdevel
Architecture: any
Depends: vitamtp3 (= ${binary:Version})
Description: Library to interact with Vita's USB MTP protocol

Package: vitamtp3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to interact with Vita's USB MTP protocol
 libVitaMTP is a library based off of libMTP 
 that does low level USB communications with 
 the Vita. It can read and recieve MTP commands 
 that the Vita sends, which are a proprietary 
 set of commands that is based on the MTP open 
 standard.
